<hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen :)
</p>

<hr>
<br>
<br>
<app-initials-avatar firstName="A" lastName="A"></app-initials-avatar>
<app-initials-avatar firstName="Z" lastName="Z"></app-initials-avatar>
<br>
<app-initials-avatar firstName="Danish" lastName="Sultan"></app-initials-avatar>
<br>
<app-initials-avatar lastName="Danish" firstName="Sultan"></app-initials-avatar>
<br>
<app-initials-avatar firstName="Andrew" lastName="Jackson"></app-initials-avatar>
<br>
<app-initials-avatar firstName="John" lastName="Smithweeeewa"></app-initials-avatar>
<br>
<app-initials-avatar firstName="sgfgZDsrtsg" lastName="zsdfgSFd"></app-initials-avatar>
<br>
<app-initials-avatar firstName="sdgSDFg" lastName="earyghdf"></app-initials-avatar>
