/* Add application styles & imports to this file! */

.circle {
  background-color: green;
  border-radius: 50%;
  height: 40px;
  text-align: center;
  width: 40px; }

.initials {
  font-size: calc(40px / 2);
  /* 50% of parent */
  line-height: 1;
  position: relative;
  top: calc(40px / 4);
  /* 25% of parent */
  color: white; }

.activity-log .log-entry {
  position: relative;
  padding-bottom: 10px; }
  .activity-log .log-entry .circle {
    position: absolute;
    top: 3px;
    left: 0px; }
  .activity-log .log-entry .log-content {
    margin: 5px 0 14px 40px; }
    .activity-log .log-entry .log-content .name {
      font-size: 14px;
      font-weight: bold; }
    .activity-log .log-entry .log-content .time-stamp {
      font-size: 14px; }
  .activity-log .log-entry .add-comment {
    margin: 5px 0 14px 40px; }
    .activity-log .log-entry .add-comment textarea {
      /*&:focus + .actions {
                    display: block;
                }*/ }
    .activity-log .log-entry .add-comment .actions {
      overflow: hidden;
      /*display: none;*/
      height: 0px;
      -webkit-transition: height, 0.5s linear;
      -moz-transition: height, 0.5s linear;
      -ms-transition: height, 0.5s linear;
      -o-transition: height, 0.5s linear;
      transition: height, 0.5s linear; }
    .activity-log .log-entry .add-comment .actions.open {
      height: 50px;
      padding-top: 10px;
      -webkit-transition: height, 0.5s linear;
      -moz-transition: height, 0.5s linear;
      -ms-transition: height, 0.5s linear;
      -o-transition: height, 0.5s linear;
      transition: height, 0.5s linear; }